 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'fira Sans', sans-serif;
}

.App{
  min-height: 100vh;
  position: relative;
  background-color: #313131;
}

.camera{
  position: relative;
  top: 5px;
}

.player-wrapper {
  position:absolute;
  width:50%;
  height: 80%;
  top:0;
  right:0;
}

video{
  width: 50%;
  height: auto;
}

button{
  position:relative;
  left: 10px;
  border: none;
  background-image: linear-gradient(to right, #844fff 50%, #ff4f84 50% );
  background-position: 0%;
  background-size: 200%;
  color: #fff;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition: 0.4s;
  border-radius: 100%;
}

button:hover{
  background-position: 100%;
}

.overlay {
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:100px;
  opacity:.80;
  /* background: #009938; */
}